@import 'styles/variaveis';
@import 'styles/breakpoints';

.btnAvaliar {

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: $roxo-muito-escuro;
        color: $branco;
        border: 1px solid #fff;
        border-radius: 15px;
        padding: 8px 15px;
        font-family: $font-padrao;
        font-size: 2.4rem;
        cursor: pointer;
        transition: 300ms;

        &:hover {
            background-color: $branco;
            color: $roxo-muito-escuro;
            outline: 1px solid $roxo-muito-escuro;

            .icon {
                color: #000;
            }
        }
    }

    .icon {
        font-size: 2.8rem;
        color: yellow;
    }

    @media (max-width: $mobile) {
        button {
            padding: 8px;
            border-radius: 50%;
        }
    
        .icon {
            font-size: 3.2rem;
        }

        span {
            display: none;
        }
    }
}


.btnAvaliar__small {
    button {
        padding: 8px;
        border-radius: 50%;
    }

    .icon {
        font-size: 2.4rem;
    }

    span {
        display: none;
    }
}